@import "variables";

%block-element {
  margin: 0 0 1.5rem;

  &:last-child {
    margin-bottom: 0;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  user-select: none;
  -webkit-user-drag: none;
}

html,
body {
  min-height: 100%;
}

html {
  font-size: $root-font-size;
}

body {
  margin: 0;
  line-height: $root-line-height;
  font-size: 1rem;
  font-family: $font-family;
  background-color: $background-color;
  color: $text-color;
}

a {
  font-weight: $link-weight;
  color: $link-color;
  cursor: default;
}

h1, h2, h3, h4, h5, h6,
p,
ul, ol {
  @extend %block-element;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(#000, 0.25);
}

::selection {
  background-color: $primary-accent-color;
  color: #fff;
}
