@import "variables";

.scrollable {
  overflow: auto;

  &::-webkit-scrollbar {
    width: 0.5rem;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#000, 0.25);
  }

  &:hover {
    &::-webkit-scrollbar-thumb {
      background-color: rgba(#000, 0.5);
    }
  }
}

.wrapper {
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.header {
}

.main {
  flex-grow: 1;
  padding: 0.75rem;
}
